@media (min-width:1400px) {
    .container{
        max-width: 1320px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media (min-width:1200px) and (max-width:1399px) {
    .container{
        max-width: 1140px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    /* ---------------------- OUR PROJECT --------------------------- */

    .project-area .view_project .project_img{
        height: 300px !important;
    }

    .project-area .view_project .project-text h3 {
        font-size: 20px !important;
        margin-bottom: 3px !important;
    }

    .project-area .view_project .project-text span{
        font-size: 13px !important;
    }
    
}

@media (min-width:992px) and (max-width:1199px) {
    .container{
        max-width: 960px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    /* header */

    header nav .email a{
        font-size: 15px !important;
    }

    
    /* ================== profile-area ===================== */

    .intro .intro-content h3{
        font-size: 30px !important;
    }

    .intro .intro-content h1{
        font-size: 40px !important;
    }

    .profile-area .profile {
        padding: 25px 15px !important; 
    }

    /* ---------------------- OUR PROJECT --------------------------- */

    .project-area .view_project .project_img{
        height: 250px !important;
    }

    .project-area .view_project .project-text h3 {
        font-size: 20px !important;
        margin-bottom: 3px !important;
    }

    .project-area .view_project .project-text span{
        font-size: 13px !important;
    }

    /* =================== contact ======================== */

    .contact_area .contact-title h4{
        font-size: 14px !important;
    }

    .contact_area .contact-title h2{
        font-size: 35px !important;
    }

    .contact_area .contact-title p{
        font-size: 14px !important;
    }

    .contact_area .contact-title a{
        font-size: 25px !important;
    }

    .contact-icons a{
        width: 40px !important;
        height: 40px !important;
        line-height: 40px !important;
    }

}


@media (min-width:768px) and (max-width:991px) {
    .container{
        max-width: 720px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    /* ================= headr =================== */

    header nav .logo h2{
        font-size: 22px !important;
    }

    header nav ul li a{
        width: 35px !important;
        height: 35px !important;
        line-height: 35px !important;
    }

    header nav .email a{
        font-size: 14px !important;
        letter-spacing: 1px !important;
    }

    /* ================== profile-area ===================== */

    .intro {
        padding:40px !important;
    }

    .intro .intro-content h3{
        font-size: 23px !important;
    }

    .intro .intro-content h1{
        font-size: 30px !important;
    }

    .intro .intro-content a{
        padding: 7px 15px !important; 
        font-size: 14px;
    }

    .profile-area .profile {
        padding: 20px 12px !important; 
    }

    .profile-area .profile .profile-img img:hover {
        transform: translateY(-30px) !important;
    }

    .profile-area .profile .profile-name h5{
        font-size: 18px !important;
    }

    .profile-area .profile .profile-name span{
        font-size: 14px !important;
    }

    .profile-icons a{
        width: 30px !important;
        height: 30px !important;
        line-height: 30px !important;
        font-size: 12px !important;
    }

    /* ================ about =================== */

    
    .about-area .head {
        margin-bottom: 30px !important;
    }

    .about-area .head ul li a {
        font-size: 15px !important;
    }

    .about-content {
        padding: 30px !important;
    }

    .about-content h2{
        font-size: 20px !important;
        margin-bottom: 15px !important;
    }

    .about-content p{
        font-size: 14px !important;
    }

    .about-content .edu-box h4{
        font-size: 16px !important;
    }

    /* ==================== skill ===================== */

    .skill-area .skill-title h4{
        font-size: 16px !important;
    }
    .skill-area .skill-title h2{
        font-size: 30px !important;
    }

    .skill-area .skill .skill-box{
        padding: 15px !important;
    }
    .skill-area .skill .skill-box h3{
        font-size: 14px !important;
    }

    /* ---------------------- OUR PROJECT --------------------------- */

    .project-area .project-title{
        margin-bottom: 30px !important;
    }

    .project-area .col-6{
        padding: 0px 7px !important;
    }

    .project-area .project-title h4{
        font-size: 14px !important;
    }

    .project-area .project-title h2{
        font-size: 30px !important;
    }


    .project-area .view_project .project_img{
        height: 200px !important;
    }

    .project-area .view_project .project-text h3 {
        font-size: 18px !important;
        margin-bottom: 3px !important;
    }

    .project-area .view_project .project-text span{
        font-size: 12px !important;
    }

    /* =================== contact ======================== */

    .contact_area .contact-title h4{
        font-size: 14px !important;
    }

    .contact_area .contact-title h2{
        font-size: 26px !important;
    }

    .contact_area .contact-title p{
        font-size: 14px !important;
    }

    .contact_area .contact-title a{
        font-size: 20px !important;
    }

    .contact-icons a{
        width: 30px !important;
        height: 30px !important;
        line-height: 30px !important;
        font-style: 12px !important;
    }

    .contact-right input{
        padding: 13px !important;
    }
    .contact-right form textarea{
        height: 180px !important;
    }
}

@media (min-width:576px) and (max-width:767px) {
    .container{
        max-width: 540px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    /* ================= headr =================== */

    header nav .logo h2{
        font-size: 20px !important;
    }

    header nav ul li a{
        display: none !important;
    }

    header nav .email a{
        font-size: 14px !important;
        letter-spacing: 1px !important;
    }

    /* ================== profile-area =====================  */

    .profile-area{
        padding: 50px 20px !important;
    }

    .profile-area .col-4{
        width: 100% !important;
    }
    .profile-area .col-8{
        width: 100% !important;
    }

    .intro .intro-content h3{
        font-size: 26px !important;
    }

    .intro .intro-content h1{
        font-size: 35px !important;
    }

    .intro {
        padding: 40px 0!important;
    }

    /* ================ about =================== */

    .about-area {
        padding: 50px 20px !important;
    }

    
    .about-area .head {
        margin-bottom: 30px !important;
    }

    .about-area .head ul li a {
        font-size: 12px !important;
    }

    .about-content {
        padding: 30px 20px !important;

    }

    .about-content h2{
        font-size: 18px !important;
        margin-bottom: 15px !important;
    }

    .about-content p{
        font-size: 12px !important;
    }

    .about-content .edu-box h4{
        font-size: 15px !important;
    }

    /* ==================== skill ===================== */

    .skill-area{
        padding: 50px 20px !important;
    }

    .skill-area .col-4{
        width: 100% !important;
    }
    .skill-area .col-8{
        width: 100% !important;
    }

    .skill-area .skill-title{
        position: static !important;
        margin-bottom: 20px !important;
    }

    .skill-area .skill-title h4 {
        font-size: 15px !important;
        margin-bottom: 5px !important;
    }

    .skill-area .skill-title h2 {
        font-size: 30px !important;
    }

    .skill-area .skill .skill-box{
        padding: 15px !important;
    }
    .skill-area .skill .skill-box h3{
        font-size: 14px !important;
    }

    /* ---------------------- OUR PROJECT --------------------------- */

    .project-area{
        padding: 50px 20px !important;
    }

    .project-area .project-title h4{
        font-size: 15px !important;
    }

    .project-area .project-title h2 {
        font-size: 30px !important;
    }

    .project-area .col-6{
        width: 100% !important;
        padding: 0px !important;
    }

    .project-area .view_project .project_img{
        height: 280px !important;
    }

    .project-area .view_project .project-text h3 {
        font-size: 20px !important;
        margin-bottom: 3px !important;
    }

    .project-area .view_project .project-text span{
        font-size: 13px !important;
    }

    /* =================== contact ======================== */

    .contact_area{
        padding: 50px 20px !important;
    }

    .contact_area .col-5 {
        width: 100% !important;
        padding: 0 !important;
        margin-bottom: 40px !important;

    }
    
    .contact_area .col-7 {
        width: 100% !important;
        padding: 0 !important;
    }

    .contact_area .contact-title h4{
        font-size: 14px !important;
    }

    .contact_area .contact-title h2{
        font-size: 35px !important;
    }

    .contact_area .contact-title p{
        font-size: 14px !important;
    }

    .contact_area .contact-title a{
        font-size: 25px !important;
    }

    .contact-icons a{
        width: 40px !important;
        height: 40px !important;
        line-height: 40px !important;
    }
}    

@media (min-width:425px) and (max-width: 575px) {
    .container{
        max-width: 100% !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    /* ================= headr =================== */

    header nav .logo h2{
        font-size: 20px !important;
    }

    header nav ul li a{
        display: none !important;
    }

    header nav .email a{
        font-size: 14px !important;
        letter-spacing: 1px !important;
    }

    /* ================== profile-area =====================  */

    .profile-area{
        padding: 50px 20px !important;
    }

    .profile-area .col-4{
        width: 100% !important;
    }
    .profile-area .col-8{
        width: 100% !important;
    }

    .intro .intro-content h3{
        font-size: 24px !important;
    }

    .intro .intro-content h1{
        font-size: 32px !important;
    }

    .intro {
        padding: 40px 0!important;
    }

    /* ================ about =================== */

    .about-area {
        padding: 50px 20px !important;
    }

    
    .about-area .head {
        margin-bottom: 30px !important;
    }

    .about-area .head ul li a {
        font-size: 12px !important;
        margin: 0 5px !important;
    }

    .about-content {
        padding: 30px 20px !important;

    }

    .about-content h2{
        font-size: 18px !important;
        margin-bottom: 15px !important;
    }

    .about-content p{
        font-size: 12px !important;
    }

    .about-content .edu-box h4{
        font-size: 15px !important;
    }

    /* ==================== skill ===================== */

    .skill-area{
        padding: 50px 20px !important;
    }

    .skill-area .col-4{
        width: 100% !important;
    }
    .skill-area .col-8{
        width: 100% !important;
    }

    .skill-area .skill-title{
        position: static !important;
        margin-bottom: 20px !important;
    }

    .skill-area .skill-title h4 {
        font-size: 15px !important;
        margin-bottom: 5px !important;
    }

    .skill-area .skill-title h2 {
        font-size: 30px !important;
    }

    .skill-area .skill .skill-box{
        padding: 10px !important;
    }
    .skill-area .skill .skill-box h3{
        font-size: 12px !important;
    }

    /* ---------------------- OUR PROJECT --------------------------- */

    .project-area{
        padding: 50px 20px !important;
    }

    .project-area .project-title h4{
        font-size: 15px !important;
    }

    .project-area .project-title h2 {
        font-size: 30px !important;
    }

    .project-area .col-6{
        width: 100% !important;
        padding: 0px !important;
    }

    .project-area .view_project .project_img{
        height: 230px !important;
    }

    .project-area .view_project .project-text h3 {
        font-size: 20px !important;
        margin-bottom: 3px !important;
    }

    .project-area .view_project .project-text span{
        font-size: 13px !important;
    }

    /* =================== contact ======================== */

    .contact_area{
        padding: 50px 20px !important;
    }

    .contact_area .col-5 {
        width: 100% !important;
        padding: 0 !important;
        margin-bottom: 40px !important;

    }
    
    .contact_area .col-7 {
        width: 100% !important;
        padding: 0 !important;
    }

    .contact_area .contact-title h4{
        font-size: 14px !important;
    }

    .contact_area .contact-title h2{
        font-size: 35px !important;
    }

    .contact_area .contact-title p{
        font-size: 14px !important;
    }

    .contact_area .contact-title a{
        font-size: 25px !important;
    }

    .contact-icons a{
        width: 40px !important;
        height: 40px !important;
        line-height: 40px !important;
    }

    .contact-right input {
        padding: 15px !important;
    }

    .contact-right form textarea{
        height: 200px !important;
    }

}

@media (min-width:320px) and (max-width: 425px) {
    .container{
        max-width: 100% !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    /* ================= headr =================== */

    header nav .logo h2{
        font-size: 18px !important;
    }

    header nav ul li a{
        display: none !important;
    }

    header nav .email a{
        font-size: 12px !important;
        letter-spacing: 0px !important;
    }

    /* ================== profile-area =====================  */

    .profile-area{
        padding: 50px 20px !important;
    }

    .profile-area .col-4{
        width: 100% !important;
    }
    .profile-area .col-8{
        width: 100% !important;
    }

    .profile-area .profile{
        padding: 30px 10px !important;
    }

    .profile-area .profile .profile-img img:hover{
        transform: translateY(-40px) !important;
    }

    
    .profile-area .profile .profile-name h5{
        font-size: 18px !important;
    }

    .profile-area .profile .profile-name span{
        font-size: 12px !important;
    }

    .profile-icons a{
        width: 35px !important;
        height: 35px !important;
        line-height: 35px !important;
        font-size: 12px !important;
    }

    .intro .intro-content h3{
        font-size: 18px !important;
    }

    .intro .intro-content a{
        padding: 5px 10px !important;
    }

    .intro .intro-content h1{
        font-size: 22px !important;
        margin-bottom: 20px !important;
    }

    .intro {
        padding: 40px 0!important;
    }

    /* ================ about =================== */

    .about-area {
        padding: 50px 20px !important;
    }

    
    .about-area .head {
        margin-bottom: 30px !important;
    }

    .about-area .head ul li a {
        font-size: 8px !important;
        margin: 0 5px !important;
    }

    .about-content {
        padding: 30px 20px !important;

    }

    .about-content h2{
        font-size: 16px !important;
        margin-bottom: 15px !important;
    }

    .about-content p{
        font-size: 10px !important;
        line-height: 1.5 !important;
    }

    .about-content .edu-box h4{
        font-size: 12px !important;
    }

    /* ==================== skill ===================== */

    .skill-area{
        padding: 50px 20px !important;
    }

    .skill-area .col-4{
        width: 100% !important;
    }
    .skill-area .col-8{
        width: 100% !important;
    }

    .skill-area .skill-title{
        position: static !important;
        margin-bottom: 20px !important;
    }

    .skill-area .skill-title h4 {
        font-size: 12px !important;
        margin-bottom: 5px !important;
        letter-spacing: 2px !important;

    }

    .skill-area .skill-title h2 {
        font-size: 25px !important;
    }

    .skill-area .skill .skill-box{
        padding: 10px !important;
    }
    .skill-area .skill .skill-box h3{
        font-size: 12px !important;
    }

    /* ---------------------- OUR PROJECT --------------------------- */

    .project-area{
        padding: 50px 20px !important;
    }

    .project-area .project-title{
        margin-bottom: 30px !important;
    }

    .project-area .project-title h4{
        font-size: 12px !important;
        letter-spacing: 2px;

    }

    .project-area .project-title h2 {
        font-size: 20px !important;
    }

    .project-area .col-6{
        width: 100% !important;
        padding: 0px !important;
    }

    .project-area .view_project .project_img{
        height: 170px !important;
    }

    .project-area .view_project .project-text h3 {
        font-size: 16px !important;
        margin-bottom: 0px !important;
    }

    .project-area .view_project .project-text span{
        font-size: 10px !important;
    }

    .project-area .view_project{
        margin-bottom: 10px !important ;
    }

    /* =================== contact ======================== */

    .contact_area{
        padding: 50px 20px !important;
    }

    .contact_area .col-5 {
        width: 100% !important;
        padding: 0 !important;
        margin-bottom: 40px !important;

    }
    
    .contact_area .col-7 {
        width: 100% !important;
        padding: 0 !important;
    }

    .contact_area .contact-title h4{
        font-size: 12px !important;
        letter-spacing: 2px;
    }

    .contact_area .contact-title h2{
        font-size: 26px !important;
    }

    .contact_area .contact-title p{
        font-size: 12px !important;
        margin-bottom: 20px !important;

    }

    .contact_area .contact-title a{
        font-size: 20px !important;
    }

    .contact-icons a{
        width: 35px !important;
        height: 35px !important;
        line-height: 35px !important;
        font-size: 12px !important;
        margin-top: 30px !important;
    }

    .contact-right input {
        padding: 10px !important;
    }

    .contact-right form textarea{
        height: 150px !important;
    }


    footer{
        padding: 30px !important;
    }

    footer h5{
        font-size: 12px !important;
    }
}